{% include "authors/frontmatter.md.jinja" %}


{% include "authors/author_info.md.jinja" %}



## Author of

{% include "authors/released_contributions.md.jinja" %}


{% include "authors/unreleased_contributions.md.jinja" %}


{% include "authors/sponsor_author.md.jinja" %}


{% include "authors/follow_author.md.jinja" %}


{% include "footer.md.jinja" %}
