---
aliases:
- 
tags: 
- seedling 
publish: true
---


# {{name}}

{{description}}

## Plugins in this category

{% for item in plugins %}
- [[{{ item.id }}|{{ item.name }}]]: {{ item.description }}
{% endfor %}

{% if related %}
## Related categories

%% Add links to other 02.02 - Category notes %%

#placeholder/notes
{% endif %}

{% include "footer.md.jinja" %}
