{% include "themes/frontmatter.md.jinja"%}


{% include "themes/badges.md.jinja" %}


{% include "themes/theme_info.md.jinja" %}


{% include "funding.md.jinja" %}


## Features

{% if settings %}
- [[Themes with Friendly Settings|Friendly settings]]: Supports the [[obsidian-style-settings|Style Settings]] plugin

{% include "themes/style_settings.md.jinja" %}
{% endif %}

{% if plugins %}
## Plugin Compatibility[^1]

{% include "themes/plugin_compatibility.md.jinja" %}

[^1]: Generally, Obsidian themes work with any plugins. That a plugin is not listed here does not mean that it won't work together with the theme. Plugins listed here only received special attention and/or styling by the theme designer.
{% endif%}

{% include "footer.md.jinja" %}
