Jinja2==3.1.2
PyYAML==6.0.1
requests==2.31.0
approvaltests==8.4.1
pytest==7.4.2
pytest-runner
mypy==1.5.1
types-PyYAML==6.0.12.11
types-requests==2.31.0.2
MonkeyType==23.3.0
github3api==0.3.1
markdownify
feedparser
