.page-header {
	display: none;
}

.markdown-preview-view h1{
	line-height: 2.1em;
}

.site-body-left-column-site-logo {
	max-width: 120px;
}

.site-body-left-column-site-name {
	text-align: center;
}

/* Widen/Dynamically Size File Explorer & Right Panel */
.site-body-left-column  { flex:  0 .9 350px; }
.site-body-right-column { flex: .1 .9 300px; }

/* Hide Graph Around 1300px */
@media screen and (max-width: 1300px) {
    .published-container.has-graph .graph-view-outer {
        display: none;
    }    
}


/* Buttons */
button#HH:hover:before {
	content: "Only works with Hotkey Helper Installed";
	color: var(--text-on-accent);
	background: black;
	font-weight: 800;
	font-size: 16px;
    
	position: absolute;
	margin-top: -72px;
	margin-left: -12vh;
	border-radius: 5px;
	padding: 20px;
	z-index: 5;
}

.external-link[href^="obsidian://goto-plugin?"] { background-image: none; }
.tooltip { --layer-tooltip: 1; }
