# {{author}}

- GitHub: [{{user}}](https://github.com/{{user}}/) ^github
<!-- - Discord: `@` ^discord-->
{% if website %}
- Website: <{{ website }}> ^website
{% else %}
<!-- - Website: <https://> ^website-->
{% endif %}
<!-- - [[Publish sites|Publish site]]: <https://> ^publish-->

%% Feel free to add a bio below this comment %%