# {{author}}

- GitHub: [{{user}}](https://github.com/{{user}}/) ^github
<!-- - Discord: `@` ^discord-->
{% if not website %}<!-- {% endif %}- Website: <{{ website }}> ^website{% if not website %}-->{% endif +%}
<!-- - [[Publish sites|Publish site]]: ^publish-->

%% Feel free to add a bio below this comment %%