/*蓝色托帕石，适合Obsidian v0.13.23。uid [20220202] flying fly flies制作，欢迎使用及分享，借鉴（copy）了许多主题，在此一一感谢。如果喜欢，可以在Github里给我星星 https://github.com/whyt-byte */
/*Blue Topaz for Obsidian v0.13.23, uid [20220202] created by flying fly flies. Feel free to use, share and modify. Thanks for all shared css themes which inspire me a lot. If you like the theme, please star me on GitHub https://github.com/whyt-byte */

/* 致谢 Credits：
@LillianWho @成雙酱 @嘴上云 @Cuman @Klaas @Thinkbond @Rainbell129(AKA Lavi) @awyugan */


/* @settings
name: Blue Topaz Theme
id: blue-topaz-theme
settings:
  -
    id: hide-vault-name
    title: Hide vault name
    title.zh: 隐藏侧边栏中的库名称
    type: class-toggle
    default: false
  -
    id: bt-status-off
    title: Reduced Status Bar
    title.zh: 使用半宽状态栏
    type: class-toggle
    default: false
	-
    id: background-settings
    title: 2. Detail Settings
    title.zh: 2. 细节设置
    type: heading
    level: 1
    collapsed: true
*/

